input{
    width:50px;
    height:50px;
    margin:10px;
    font-size: xx-large;
    border-color: rgb(0, 0, 0);
}
.gamestation{
    display: flex;
    justify-content: space-between;
}
.gamecontainer{
    width: 50%;
}
.attemptdata{
    width:250px;
}